- var active = 1
- var pageName = 'Автошкола'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body(onload="loaded()")
    .page-wrap
      include includes/header
      include includes/nav
      .container.innercontent
        aside.sidebar
          .sidebar__nav
            .sidebar__nav__inner
              nav
                h2 Автошкола
                ul
                  li: a(href="#") История
                  li: a(href="#") Достижения
                  li: a(href="#") Фотогалерея
                  li: a(href="#") Учредительные документы
        main.content
          h1 Общая информация
          .breadcrumbs
            ul
              li: a(href="#") Главная
              li: a(href="#") Автошкола
          h2 Автошкола аник сегодня
          p Автошкола предоставляет самый полный комплекс основных и дополнительных услуг. В автошколе работает медкомиссия и автошкольный фотограф. К услугам учеников автокурсов современные классы авто-тренажеров. Вы можете обучаться вождению с инструктором на автомобилях отечественного и иностранного производства, в том числе с АКПП. Наши курсы вождения организуют сдачу экзамена в ГИБДД на автомобилях автошколы. Автошкола предлагает сдачу экзамена ПДД онлайн по интернету.
          .well
            img.left(src="i/placeholders/dir.jpg")
            h3 Обращение директора школы николаева александра николаевича:
            p «Аник» - это место, где Вы действительно научитесь водить. Инструкторы подходят индивидуально к каждому ученику, а мне, при возникновении каких-либо вопросов, ученики спокойно звонят домой. Наша школа коммерческая, но в ней на много больше души и любви к своему делу чем коммерции. Вы не пожалеете о проведенном здесь времени и потраченных деньгах, качественное обучение я Вам гарантирую, ну и еще хорошие машины, на которых приятно учиться ездить. Приходите к нам, мы с радостью поможем Вам сесть за руль, понимать свой автомобиль и не бояться дороги.»
      include includes/footer
    include includes/tail
