- var active = 1
- var pageName = 'Обучение'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body(onload="loaded()")
    .page-wrap
      include includes/header
      include includes/nav
      .container.innercontent
        aside.sidebar
          .sidebar__nav
            .sidebar__nav__inner
              nav
                h2 Обучение
                ul
                  li
                    a(href="#") Процесс обучения
                    ul.children
                      li: a(href="#") Теория
                      li
                        a(href="#") Практика
                        ul.subchildren
                          li: a(href="#") Автодром
                          li: a(href="#") Город
                      li: a(href="#") Внутренний экзамен
                      li: a(href="#") Ответы на вопросы
                  li: a(href="#") Стоимость
                  li: a(href="#") Документы
                  li: a(href="#") Дополнительные услуги
        main.content
          h1 Обучение
          .breadcrumbs
            ul
              li: a(href="#") Главная
              li: a(href="#") Обучение
          h2 Наши ЦЕНЫ на обучение стали доступнее!
          p Автошкола предоставляет самый полный комплекс основных и дополнительных услуг. В автошколе работает медкомиссия и автошкольный фотограф. К услугам учеников автокурсов современные классы авто-тренажеров. Вы можете обучаться вождению с инструктором на автомобилях отечественного и иностранного производства, в том числе с АКПП. Наши курсы вождения организуют сдачу экзамена в ГИБДД на автомобилях автошколы. Автошкола предлагает сдачу экзамена ПДД онлайн по интернету.
          .plans
            .plans__item
              .plans__item__head
                i.icon-moto
                h2 Категория А (A1)
              .plans__item__content Автошкола предоставляет самый полный комплекс основных и дополнительных услуг. В автошколе работает медкомиссия и автошкольный фотограф. К услугам учеников автокурсов современные классы авто-тренажеров. Вы можете обучаться вождению с инструктором на автомобилях отечественного и иностранного производства, в том числе с АКПП.
              .plans__item__price От 17 000 <i class="fa fa-rub"></i>
              a.btn(href="#") Калькулятор
            .plans__item
              .plans__item__head
                i.icon-car
                h2 Категория B (B1)
              .plans__item__content Вы можете обучаться вождению с инструктором на автомобилях отечественного и иностранного производства, в том числе с АКПП. Наши курсы вождения организуют сдачу экзамена в ГИБДД на автомобилях автошколы. Автошкола предлагает сдачу экзамена ПДД онлайн по интернету.
              .plans__item__price От 28 600 <i class="fa fa-rub"></i>
              a.btn(href="#") Калькулятор
            .plans__item
              .plans__item__head
                i.icon-truck
                h2 Категория С (С1)
              .plans__item__content Вы можете обучаться вождению с инструктором на автомобилях отечественного и иностранного производства, в том числе с АКПП. Наши курсы вождения организуют сдачу экзамена в ГИБДД на автомобилях автошколы. Автошкола предлагает сдачу экзамена ПДД онлайн по интернету.
              .plans__item__price От 20 007 <i class="fa fa-rub"></i>
              a.btn(href="#") Калькулятор
      include includes/footer
    include includes/tail
