header {

  min-height: 65px;
  position: relative;

  .header__logo {
    display: block;
    background-image: url(../i/logo.png);
    background-image: url(../i/logo.svg), none;
    background-size: 100%;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .header__contacts {

    display: none;

    .header__contacts__phone {

      @include gridle_state( md ) {
        margin-bottom: 10px;
        margin-top: 15px;
      }

      .phone-icon {
        display: block;
        float: left;
        width: 35px; height: 45px;
        font-size: rem-calc(65px);
        color: #0077C0;
      }

      small {
        color: #000;
        font-size: rem-calc(14px);
      }
      h2 {
        white-space: pre;
        color: #000;
        font-size: rem-calc(27px);
        font-weight: 700;
        margin-bottom: 0;
      }
    }
    .header__contacts__links {
      white-space: pre;
      .fa {
        margin-right: 5px;
        color: #333333;
      }
      a {
        color: #0077bf;
        font-size: rem-calc(15px);
        font-weight: 700;
        @include text-shadow(0 1px 0 #fbfdfd);
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px dashed;
        margin-right: 20px;
        line-height: 1;

        &:hover {
          color: #999999;
        }
      }
    }
  }

  .btn {
    position: absolute;
    top: 18px;
    z-index: 2;
    right: 8px;
    font-size: 1.185rem;

    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    @include text-shadow(0 1px 0 rgba(132,89,5,.75));
    margin-bottom: 18px;
    padding: 10px 20px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.3rem;
    height: 2rem;
    @include border-radius(15px);
    @include background-clip(padding-box);
    background-color: #db1921;
    @include box-shadow(0 1px 0 #cb3731, inset 0 0 8px #b91015, 0 1px 0 #93494b, 0 0 3px #8f2c31, 0 4px 0 #B81A1C);
    @include background-image(linear-gradient(to bottom, #db1921 0%, #d91921 100%));
    &:hover {
      @include text-shadow(0 1px 0 rgba(0,0,0,.18));
      color: #FFF;
      background-color: #7ECE31;
      @include box-shadow(0 1px 0 #74BB43, inset 0 0 8px #6EB82D, 0 1px 0 #74BB43, 0 0 3px #BDCEB4, 0 4px 0 #569E13);
      @include background-image(linear-gradient(to bottom, #71BB31 0%, #7ECF31 100%));
      &:active {
        @include box-shadow(0 1px 0 #74BB43, inset 0 0 8px #6EB82D, 0 1px 0 #74BB43, 0 0 3px #BDCEB4, 0 2px 0 #569E13);
        //top: 2px;
      }
    }
  }

  @include gridle_state( xs ) {
    height: 65px;
    padding: 11px 8px;
    .header__logo {
      width: 200px;
      height: 44px;
    }
  }

  @include gridle_state( sm ) {
    height: 210px;
    padding: 39px 25px;
    @include background-image(linear-gradient(to bottom, #c5e1f1 0%, #fff 100%));
    .header__logo {
      width: 350px;
      height: 76px;
    }
    .btn {
      position: relative;
      bottom: auto;
      //float: right;
    }
    .header__contacts {
      display: inline-block;
      // width: 330px;
      // float: right;
    }
    .header__rightside {
      // width: 330px;
      // float: right;
    }
  }

  @include gridle_state( md ) {
    height: 155px;
    padding: 15px 0;
    .header__logo {
      width: 100%;
      max-width: 550px;
      height: 122px;
    }
    .btn {
      top: 40px;
    }
  }

  @include gridle_state( lg ) {

  }
}
