.navbar {
  height: 45px;
  background-color: #0077bf;
  padding: 0;
  position: relative;

  @include gridle_state ( sm ) {
    @include box-shadow(0 20px 50px rgba(0,1,0,.3));
    z-index: 1;
  }

  &:before, &:after {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #046BAA;
    border-bottom: 1px solid #2292D6;
    pointer-events: none;
  }

  &:before {
    top: 3px;
  }

  &:after {
    bottom: 4px;
  }

  a.navbar__menulink {
    float: left;
    display: block;
    height: 45px;
    background-color: transparent;
    line-height: 45px;
    color: #fff;
    font-size: 1.077rem;
    font-weight: 700;
    padding: 0 8px;
    text-transform: uppercase;
    text-decoration: none;
    @include text-shadow(0 1px 0 #054872);
  }

  nav[role=navigation] {
    clear: both;
    overflow: hidden;
    height: 0;

    &.active {
      height: auto;
    }
    & > ul {
      margin: 0;
      padding: 0;

      & > li {

        position: relative;
        z-index: 99;

        @include gridle_state( md ) {
          margin: 0 10px;
        }

        @include gridle_state( lg ) {
          margin: 0 15px;
        }

        &.navbar__social {
          .fa {
            display: inline-block;
            width: 20px;
            height: 20px;
            @include border-radius(4px);
            @include background-clip(padding-box);
            background-color: #fff;
            color: #0077C0;
            @include text-shadow(none);
            text-align: center;
            font-size: 13px;
            line-height: 20px;
            position: relative;
            top: -0.2rem;
          }
        }

        & > a {
          display: block;
          height: 45px;
          line-height: 45px;
          color: #fff;
          background-color: #0077BF;
          font-size: 1.231rem;
          font-weight: 700;
          padding: 0 8px;
          text-transform: uppercase;
          text-decoration: none;
          @include text-shadow(0 1px 0 #054872);

          &:hover {
            color: #FFD821;
          }
        }

        &.dropdown {
          height: 45px;
          overflow: hidden;
          position: relative;
          z-index: 99;
          &:after {
            content: '+';
            display: block;
            position: absolute;
            right: 8px; top: 13px;
            width: 19px;
            height: 19px;
            border: 2px solid #fff;
            color: #FFF;
            font-size: 16px;
            line-height: 15px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            pointer-events: none;
          }
          &.active {
            height: auto;
            &:after {
              content: '-';
              line-height: 13px;
            }
            & > a {
              color: #FFD821;
            }
          }
          & > ul {
            padding: 10px 0;
            background-color: #0A81C9;
            & > li {
              & > a {
                display: block;
                height: 30px;
                line-height: 30px;
                color: #fff;
                background-color: #0A81C9;
                font-size: 1.077rem;
                font-weight: 400;
                padding: 0 35px;
                text-transform: none;
                text-decoration: none;
                &:hover {
                  background-color: #0077BF;
                }
              }
            }
          }
        }
      }

      & > li:nth-child(2n+1) a {
        background-color: #0A81C9;
      }
    }
  }

  @include gridle_state( sm ) {
    a.navbar__menulink {
      display: none;
    }
    nav[role=navigation] {
      height: auto;
      overflow: visible !important;
      & > ul {
        border: 0;
        & > li {
          display: inline-block;
          float: left;
          &.navbar__social {
            float: right;
          }
          &:nth-child(2n+1) a {
            background-color: transparent;
          }
          & > a {
            border: 0;
            background-color: transparent;
          }
          &.dropdown {
            overflow: visible;
            z-index: 2;
            &:after {
              display: none;
            }
            &:hover {
              & > ul {
                display: block;
              }
              & > a {
                color: #FFD821;
              }
            }
            & > ul {
              display: none;
              position: absolute;
              top: 75px;
              width: 270px;
              & > li {
                & > a {

                }
              }
            }
          }
        }
      }
    }
  }
}


@include gridle_state( sm ) {
  .navbar {
    height: 80px;

    nav[role=navigation] > ul > li > a {
      height: 80px;
      line-height: 80px;
    }
  }
}
