.navbar#navbar
  a(href="#menu", class="navbar__menulink")
    i.fa.fa-navicon
    |&nbsp;Меню
  nav#menu(role="navigation")
    ul
      li: a(href="#") Главная
      li: a(href="#") Новости и акции
      li: a(href="#") Автошкола
      li: a(href="#") Обучение
      li: a(href="#") Форум
      li: a(href="#") Контакты
      li: a(href="#") Мы в соцсетях
