.container
  .carousel
    .carousel__viewport
      #carousel.carousel__container
        .carousel__scroller
          .carousel__item
            .item__caption
              h4 Только этим Летом!
              h3 Комплект литературы
              h2 В подарок
            .item__pic
              img(src="i/placeholders/slide-1-pic.png")
          .carousel__item.rtl
            .item__caption
              .bar: .bar__filled 95% наших учеников
              h3 Сдали экзамен
              h2 С 1 раза
            .item__pic
              img.pic--car(src="i/placeholders/slide-2-pic.png")
          .carousel__item
            .item__caption
              h4 Только этим Летом!
              h3 Комплект литературы
              h2 В подарок
            .item__pic
              img(src="i/placeholders/slide-1-pic.png")
        a(href="#").carousel__nav.carousel__nav--left
        a(href="#").carousel__nav.carousel__nav--right

    //- #indicator.carousel__indicator
    //-   #dotty.carousel__dotty
